#

In [10]:
import pandas as pd

data = []

data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Alley_Oop.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Champ.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Treasure_Comics.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Western_Love.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Person_1.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Person_2.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Person_3.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Person_4.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Person_5.json'))
data.append(pd.read_json(r'C:\Users\derra\Desktop\Paper\Person_6.json'))

comic_dataframes = []
comic_data = []

for df in data:
    normalized_df = pd.json_normalize(df['comic']['chapters'])

    results = []

    for index, row in normalized_df.iterrows():
        title = row['title']
        pages = row['pages']

        total_scenes = sum([sum(page) for page in pages])
        total_panels = sum([len(page) for page in pages])
        total_pages = len(pages)

        panels_per_page = total_panels / total_pages
        panels_per_scene = total_panels / total_scenes
        scene_per_page = total_scenes / total_pages

        count_start = 0
        count_end = 0
        count_middle = 0
        count_25th = 0
        count_75th = 0

        for page in pages:
            if len(page) > 0:
                if page[0] == 1:
                    count_start += 1
                    continue
                if page[-1] == 1:
                    count_end += 1
                    continue
                percentile_25_index = len(page) // 4
                if page[percentile_25_index] == 1:
                    count_25th += 1
                    continue
                percentile_75_index = len(page) * 3 // 4
                if page[percentile_75_index] == 1:
                    count_75th += 1
                    continue
                count_middle += 1




        percent_start = (count_start / total_pages) * 100 if total_pages > 0 else 0
        percent_end = (count_end / total_pages) * 100 if total_pages > 0 else 0
        percent_middle = (count_middle / total_pages) * 100 if total_pages > 0 else 0
        percent_25th = (count_25th / total_pages) * 100 if total_pages > 0 else 0
        percent_75th = (count_75th / total_pages) * 100 if total_pages > 0 else 0
        
        results.append({
            'title': title,
            'panels_per_scene': panels_per_scene,
            'scene_per_page': scene_per_page,
            'percent_start': percent_start,
            'percent_end': percent_end,
            'percent_middle': percent_middle,
            'percent_25th': percent_25th,
            'percent_75th': percent_75th
        })

    comic_df = pd.DataFrame(results)
    
    comic_dataframes.append(comic_df)

alley_oop_df = comic_dataframes[0]
champ_df = comic_dataframes[1]
treasure_comics_df = comic_dataframes[2]
western_love_df = comic_dataframes[3]
person_1_df = comic_dataframes[4]
person_2_df = comic_dataframes[5]
person_3_df = comic_dataframes[6]
person_4_df = comic_dataframes[7]
person_5_df = comic_dataframes[8]
person_6_df = comic_dataframes[9]

person_1_2_df = pd.concat([person_1_df, person_2_df])
person_1_2_stats = {
    'comic': 'Person_1+2',
    'mean_panels_per_scene': person_1_2_df['panels_per_scene'].mean(),
    'mean_scene_per_page': person_1_2_df['scene_per_page'].mean(),
    'mean_percent_start': person_1_2_df['percent_start'].mean(),
    'mean_percent_end': person_1_2_df['percent_end'].mean(),
    'mean_percent_middle': person_1_2_df['percent_middle'].mean(),
    'mean_percent_25th': person_1_2_df['percent_25th'].mean(),
    'mean_percent_75th': person_1_2_df['percent_75th'].mean()
}

row_df = pd.DataFrame([alley_oop_df.loc[4]])
person_1_2_df = pd.concat([person_1_2_df, row_df])
row_df = pd.DataFrame([western_love_df.loc[4]])
person_1_2_df = pd.concat([person_1_2_df, row_df])

person_3_4_df = pd.concat([person_3_df, person_4_df])
person_3_4_stats = {
    'comic': 'Person_3+4',
    'mean_panels_per_scene': person_3_4_df['panels_per_scene'].mean(),
    'mean_scene_per_page': person_3_4_df['scene_per_page'].mean(),
    'mean_percent_start': person_3_4_df['percent_start'].mean(),
    'mean_percent_end': person_3_4_df['percent_end'].mean(),
    'mean_percent_middle': person_3_4_df['percent_middle'].mean(),
    'mean_percent_25th': person_3_4_df['percent_25th'].mean(),
    'mean_percent_75th': person_3_4_df['percent_75th'].mean()
}

row_df = pd.DataFrame([champ_df.loc[1]])
person_3_4_df = pd.concat([person_3_4_df, row_df])
row_df = pd.DataFrame([treasure_comics_df.loc[1]])
person_3_4_df = pd.concat([person_3_4_df, row_df])

person_5_6_df = pd.concat([person_5_df, person_6_df])
person_5_6_stats = {
    'comic': 'Person_5+6',
    'mean_panels_per_scene': person_5_6_df['panels_per_scene'].mean(),
    'mean_scene_per_page': person_5_6_df['scene_per_page'].mean(),
    'mean_percent_start': person_5_6_df['percent_start'].mean(),
    'mean_percent_end': person_5_6_df['percent_end'].mean(),
    'mean_percent_middle': person_5_6_df['percent_middle'].mean(),
    'mean_percent_25th': person_5_6_df['percent_25th'].mean(),
    'mean_percent_75th': person_5_6_df['percent_75th'].mean()

}

row_df = pd.DataFrame([treasure_comics_df.loc[5]])
person_5_6_df = pd.concat([person_5_6_df, row_df])
row_df = pd.DataFrame([champ_df.loc[4]])
person_5_6_df = pd.concat([person_5_6_df, row_df])

comic_data.append({
    'comic' : 'Alley_Oop',
    'mean_panels_per_scene': alley_oop_df['panels_per_scene'].mean(),
    'mean_scene_per_page': alley_oop_df['scene_per_page'].mean(),
    'mean_percent_start': alley_oop_df['percent_start'].mean(),
    'mean_percent_end': alley_oop_df['percent_end'].mean(),
    'mean_percent_middle': alley_oop_df['percent_middle'].mean(),
    'mean_percent_25th': alley_oop_df['percent_25th'].mean(),
    'mean_percent_75th': alley_oop_df['percent_75th'].mean()
})

comic_data.append({
    'comic' : 'Champ',
    'mean_panels_per_scene': champ_df['panels_per_scene'].mean(),
    'mean_scene_per_page': champ_df['scene_per_page'].mean(),
    'mean_percent_start': champ_df['percent_start'].mean(),
    'mean_percent_end': champ_df['percent_end'].mean(),
    'mean_percent_middle': champ_df['percent_middle'].mean(),
    'mean_percent_25th': champ_df['percent_25th'].mean(),
    'mean_percent_75th': champ_df['percent_75th'].mean()
})

comic_data.append({
    'comic' : 'Treasure_Comics',
    'mean_panels_per_scene': treasure_comics_df['panels_per_scene'].mean(),
    'mean_scene_per_page': treasure_comics_df['scene_per_page'].mean(),
     'mean_percent_start': treasure_comics_df['percent_start'].mean(),
    'mean_percent_end': treasure_comics_df['percent_end'].mean(),
    'mean_percent_middle': treasure_comics_df['percent_middle'].mean(),
    'mean_percent_25th': treasure_comics_df['percent_25th'].mean(),
    'mean_percent_75th': treasure_comics_df['percent_75th'].mean()
})

comic_data.append({
    'comic' : 'Western_Love',
    'mean_panels_per_scene': western_love_df['panels_per_scene'].mean(),
    'mean_scene_per_page': western_love_df['scene_per_page'].mean(),
    'mean_percent_start': western_love_df['percent_start'].mean(),
    'mean_percent_end': western_love_df['percent_end'].mean(),
    'mean_percent_middle': western_love_df['percent_middle'].mean(),
    'mean_percent_25th': western_love_df['percent_25th'].mean(),
    'mean_percent_75th': western_love_df['percent_75th'].mean()
})


comic_data_df = pd.DataFrame(comic_data)

comic_data_df

,comic,mean_panels_per_scene,mean_scene_per_page,mean_percent_start,mean_percent_end,mean_percent_middle,mean_percent_25th,mean_percent_75th
0,Alley_Oop,5.265377,1.015625,71.056548,9.300595,10.863095,3.125000,5.654762
1,Champ,4.719697,1.475000,45.000000,3.333333,36.666667,2.500000,12.500000
2,Treasure_Comics,5.387500,1.031746,53.273810,2.777778,31.150794,2.083333,10.714286
3,Western_Love,5.047677,1.300000,37.500000,10.000000,25.000000,20.000000,7.500000

In [2]:
person_1_2_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,Sain_in_the_Neck,6.571429,0.875,62.5,12.5,25.0,0.0,0.0
1,Six_Gun_Serenade,4.727273,1.375,37.5,12.5,12.5,37.5,0.0
0,Sain_in_the_Neck,5.750000,1.000,62.5,12.5,12.5,12.5,0.0
1,Six_Gun_Serenade,2.476190,2.625,37.5,37.5,0.0,25.0,0.0
4,Sain_in_the_Neck,5.750000,1.000,62.5,12.5,12.5,12.5,0.0
4,Six_Gun_Serenade,5.200000,1.250,37.5,12.5,12.5,37.5,0.0

In [3]:
person_3_4_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,Liberty_Lads,3.833333,1.500000,37.500000,12.500000,12.500000,25.000000,12.500000
1,Marco_Polo,6.500000,0.857143,42.857143,0.000000,28.571429,14.285714,14.285714
0,Liberty_Lads,4.181818,1.375000,62.500000,0.000000,25.000000,0.000000,12.500000
1,Marco_Polo,7.800000,0.714286,28.571429,14.285714,42.857143,14.285714,0.000000
1,Liberty_Lads,3.833333,1.500000,50.000000,0.000000,25.000000,12.500000,12.500000
1,Marco_Polo,6.500000,0.857143,57.142857,0.000000,28.571429,0.000000,14.285714

In [4]:
person_5_6_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,the_Arabian_Knight,4.500000,1.250,62.5,12.5,12.5,12.5,0.0
1,Twinkle_Twins,3.052632,2.375,25.0,37.5,0.0,12.5,25.0
0,the_Arabian_Knight,6.428571,0.875,75.0,0.0,12.5,12.5,0.0
1,Twinkle_Twins,5.800000,1.250,12.5,12.5,50.0,0.0,25.0
5,the_Arabian_Knight,5.625000,1.000,50.0,0.0,37.5,12.5,0.0
4,Twinkle_Twins,4.833333,1.500,25.0,0.0,50.0,0.0,25.0

In [5]:
alley_oop_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,Wet_a_Way_to_go,5.000000,1.000,100.000000,0.000000,0.000000,0.0,0.000000
1,Bronto_Soreness,5.166667,1.000,16.666667,33.333333,33.333333,0.0,16.666667
2,Foreign_Entaglement,5.111111,1.125,75.000000,0.000000,12.500000,12.5,0.000000
3,New_Twist,5.666667,1.000,100.000000,0.000000,0.000000,0.0,0.000000
4,Sain_in_the_Neck,5.750000,1.000,62.500000,12.500000,12.500000,12.5,0.000000
5,King_for_a_Day,5.428571,1.000,14.285714,28.571429,28.571429,0.0,28.571429
6,A_Barberous_Act,5.000000,1.000,100.000000,0.000000,0.000000,0.0,0.000000
7,Time-And-A-Hap,5.000000,1.000,100.000000,0.000000,0.000000,0.0,0.000000

In [6]:
champ_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,Human_Meteor,5.181818,1.375,62.5,0.000000,37.500000,0.0,0.0
1,Liberty_Lads,3.833333,1.500,50.0,0.000000,25.000000,12.5,12.5
2,The_Champ,4.750000,1.500,37.5,0.000000,37.500000,0.0,25.0
3,Devil_Dry_Dolan,5.000000,1.500,50.0,16.666667,33.333333,0.0,0.0
4,Twinkle_Twins,4.833333,1.500,25.0,0.000000,50.000000,0.0,25.0

In [7]:
treasure_comics_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,Paul_Bunyan,4.500,1.250000,62.500000,0.000000,37.500000,0.0,0.000000
1,Marco_Polo,6.500,0.857143,57.142857,0.000000,28.571429,0.0,14.285714
2,Treasure_Keeper,6.600,0.833333,50.000000,16.666667,33.333333,0.0,0.000000
3,Dr.Stys,5.500,1.000000,50.000000,0.000000,50.000000,0.0,0.000000
4,Know_Your_America,3.600,1.250000,50.000000,0.000000,0.000000,0.0,50.000000
5,the_Arabian_Knight,5.625,1.000000,50.000000,0.000000,37.500000,12.5,0.000000

In [8]:
western_love_df

,title,panels_per_scene,scene_per_page,percent_start,percent_end,percent_middle,percent_25th,percent_75th
0,The_Girl_from_Ghost_Town,5.777778,1.125,37.5,12.5,37.5,0.0,12.5
1,Cowtown_Casanova,4.727273,1.375,37.5,12.5,37.5,12.5,0.0
2,Bodyguard_for_Betsy,4.333333,1.500,50.0,12.5,25.0,12.5,0.0
3,The_Ranchers_Daughter,5.200000,1.250,25.0,0.0,12.5,37.5,25.0
4,Six_Gun_Serenade,5.200000,1.250,37.5,12.5,12.5,37.5,0.0

In [9]:
def pk_score(your_data, evaluator_data, k):
    N = len(your_data)
    mismatches = 0
    total_windows = N - k

    for i in range(total_windows):
        if (your_data[i] == your_data[i + k]) != (evaluator_data[i] == evaluator_data[i + k]):
            mismatches += 1

    pk = mismatches / total_windows
    return pk

data_1 = [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
data_2 =
data_person_1_1=[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
data_person_1_2=[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0]

SyntaxError: invalid syntax (1088160751.py, line 14)